*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.hero-page{
    background-color: red;
    color: white;
    width: 100%;
    height: 100vh;
}